//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 27 11:14:29 2014
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

