//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 26 06:56:06 2014
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

